{% block body %}
<div class="footer-copyright"><legend class="border-bottom mb-4">
            <h1 style="text-align: center;color: green;"></h1>
          </legend>
  <h2>Visit Our Main Office</h2>
    <p>Eldoret Town Center, KVDA Street 30100 Eldoret, Kenya. You can also Reach us via</p>
    <a class="btn btn-accent" href="https://Instagram/afritec.co.ke/" target="_blank">Instagram</a>
    <a class="btn btn-accent" href="https://Facebook/afritec.co.ke/" target="_blank">Facebook</a>
    <a class="btn btn-accent" href="https://Twitter/afritec.co.ke/" target="_blank">Twitter</a>
    <a class="btn btn-accent" href="https://email.com/afritec.co.ke/" target="_blank">Email</a>
  </p>
</div>
{% endblock %}